<div class="col-10">
  <div class="d-flex flex-column align-items-center">
    <img src="/static/images/logo.png" width="128px" height="128px" alt="U-Bahn Sim Berlin" class="mb-5 rounded-5">
    <h1>U-Bahn Sim Berlin Installer</h1>
    <p class="lead text-center mb-5">Auf deinem System ist bereits U-Bahn Sim Berlin für Trainz installiert. Möchtest du nach Updates suchen oder neu installieren?</p>
    <div class="d-flex gap-3">
      <button class="btn btn-primary btn-lg" onclick="checkForUpdates()">Updates suchen&ensp;<i class="fa fa-search"></i></button>
      <button class="btn btn-secondary btn-lg" onclick="showInstall()">Neu installieren</button>
    </div>
  </div>
</div>