<div class="col-10">
  <div class="d-none flex-column align-items-center" id="progress">
    <p class="fs-5 text-center text-truncate w-100">Installiere Scripte, dies kann eine Weile dauern</p>
    <div class="progress position-relative w-75" role="progressbar" style="height: 24px">
      <div class="progress-bar bg-primary" style="width: 0"></div>
      <span class="position-absolute top-50 start-50 translate-middle text-white">0%</span>
    </div>
  </div>
  <div class="d-none flex-column align-items-center mt-5" id="extraProgress">
    <p class="fs-5 text-center text-truncate w-100">Assets werden heruntergeladen (21/845)</p>
    <div class="progress position-relative w-75" role="progressbar" style="height: 24px">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 0"></div>
      <span class="position-absolute top-50 start-50 translate-middle text-white">0 kb/s</span>
    </div>
  </div>
</div>