<div class="col-10">
  <div class="d-flex flex-column align-items-center">
    <img src="/static/images/logo.png" width="128px" height="128px" alt="U-Bahn Sim Berlin" class="mb-5 rounded-5">
    <h1>U-Bahn Sim Berlin Installer</h1>
    <p class="lead text-center mb-5">Dieser Installer wird die neueste Version von U-Bahn Sim Berlin für Trainz 2009/2010 oder ProTrain Perfect 2 herunterladen und installieren.</p>
    <button class="btn btn-primary btn-lg" onclick="showInstall()">Zur Installation&ensp;<i class="fa fa-arrow-right"></i></button>
  </div>
</div>