<div class="col-10">
  <div class="d-flex flex-column align-items-center">
    <i class="fa fa-times-circle text-danger" style="font-size: 125px"></i>
    <div class="my-5 text-center">
      <h1>Fehler beim Laden des Installers</h1>
      <p class="lead">Bitte überprüfe, ob die Microsoft Edge WebView2 Runtime installiert ist.</p>
    </div>
    <a href="https://developer.microsoft.com/de-de/microsoft-edge/webview2/" target="_blank" class="btn btn-primary btn-lg">WebView2 Runtime installieren</a>
  </div>
</div>